.infoCard {
  border: var(--border);
  border-radius: 4px;
  padding: 30px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box; /* Ensures padding is included in width/height */
  box-shadow: none; /* Initial shadow */
}

@media (max-width: 768px) { /* For landscape phones and smaller tablets */
  .infoCard {
    padding: 20px; /* Smaller padding on smaller screens */
  }
}

.infoCard:hover {
  border: var(--selected-border); /* Keep the initial border */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8); /* Elevation effect for light mode */
}

@media (prefers-color-scheme: dark) {
  .infoCard:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Elevation effect for dark mode */
  }
}

.infoCardIcon {
  font-size: 24px;
  margin-bottom: 10px;
}

.infoCardTitle {
  font-weight: bold;
  font-size: 20px;
}

.titleContainer {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.logo {
  height: 1.5em; /* 1em typically equals the font-size of the parent, which is the h2 in this case */
  padding-right: 10px;
  width: auto; /* Maintain the aspect ratio of the image */
}

.infoCardLink {
  display: flex;
  color: var(--primary-texr);
}

.infoCardLink:hover {
  color: var(--primary-texr);
  text-decoration: none;
}